body {
  background-color: rgb(250, 250, 250);
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

pre code {
  display: inline-block;
  width: 100%;
  padding: 20px;
  background: rgba(68,68,68,0.1);
}

.huge {
  font-size: 3rem;
}

.narrow {
  max-width: 900px;
}

.text-light {
  color: #9e9797!important;
}